@model FinalProject_Team11.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderNotes" class="control-label"></label>
                <input asp-for="OrderNotes" class="form-control" />
                <span asp-validation-for="OrderNotes" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="TotalCleaning" class="control-label"></label>
                <input asp-for="TotalCleaning" class="form-control" />
                <span asp-validation-for="TotalCleaning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalStayRevenue" class="control-label"></label>
                <input asp-for="TotalStayRevenue" class="form-control" />
                <span asp-validation-for="TotalStayRevenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCompleted" class="control-label"></label>
                <input asp-for="TotalCompleted" class="form-control" />
                <span asp-validation-for="TotalCompleted" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

