@model FinalProject_Team11.Models.Reservation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Property.PropertyID)
            <div class="form-group">
                <label asp-for="User_Email" class="control-label"></label>
                <input asp-for="User_Email" class="form-control" />
                <span asp-validation-for="User_Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Checkin_date" class="control-label"></label>
                <input asp-for="Checkin_date" class="form-control" />
                <span asp-validation-for="Checkin_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Checkout_date" class="control-label"></label>
                <input asp-for="Checkout_date" class="form-control" />
                <span asp-validation-for="Checkout_date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>



</div>

