@model FinalProject_Team11.Models.Review

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReviewID" />
            <div class="form-group">
                <label asp-for="rating" class="control-label"></label>
                <input asp-for="rating" class="form-control" />
                <span asp-validation-for="rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextReivew" class="control-label"></label>
                <input asp-for="TextReivew" class="form-control" />
                <span asp-validation-for="TextReivew" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisputeReview" class="control-label"></label>
                <input asp-for="DisputeReview" class="form-control" />
                <span asp-validation-for="DisputeReview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

