<h2>Press these buttons to seed!</h2>

<a asp-action="SeedRoles" asp-controller="Seed" class="btn btn-primary">Seed Roles</a>

<a asp-action="SeedUsers" asp-controller="Seed" class="btn btn-info">Seed Users</a>

<a asp-action="SeedAllCategories" asp-controller="Seed" class="btn btn-info">Seed Categories</a>

<a asp-action="SeedAllProperties" asp-controller="Seed" class="btn btn-info">Seed Properties</a>

<a asp-action="SeedAllReviews" asp-controller="Seed" class="btn btn-info">Seed Reviews</a>
