@model FinalProject_Team11.Models.Property

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PropertyID" />
            <div class="form-group">
                <label asp-for="WeekdayPrice" class="control-label"></label>
                <input asp-for="WeekdayPrice" class="form-control" />
                <span asp-validation-for="WeekdayPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeekendPrice" class="control-label"></label>
                <input asp-for="WeekendPrice" class="form-control" />
                <span asp-validation-for="WeekendPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CleaningFee" class="control-label"></label>
                <input asp-for="CleaningFee" class="form-control" />
                <span asp-validation-for="CleaningFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountNights" class="control-label"></label>
                <input asp-for="DiscountNights" class="form-control" />
                <span asp-validation-for="DiscountNights" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPercentage" class="control-label"></label>
                <input asp-for="DiscountPercentage" class="form-control" />
                <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

